## Preprocessing

In [1]:
#target countries: {spain, usa, china, south Africa, comoros, yemen}
# country and year are selected 
# fish is the label: area predictions are summed together
# this would be a dataframe -> turned into a csv and sent to enne

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, KBinsDiscretizer
import pandas as pd
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
initial_df = pd.read_json("captured_marine_fish.json")
initial_df.head()

,COUNTRY_NAME,COUNTRY_CONTINENT,COUNTRY_ECONOMIC_CLASS,COUNTRY_GEOGRAPHIC_REGION,SPECIES_SCIENTIFIC_NAME,SPECIES_ISSCAAP_GROUP,SPECIES_CPC_GROUP,AREA_CODE,AREA_NAME,AREA_OCEAN_GROUP,PERIOD,VALUE,MEASURE_NAME,MEASURE_UNIT,STATUS_NAME
0,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1995,33.0,Tonnes - live weight,t,OFFICICAL
1,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1996,40.0,Tonnes - live weight,t,OFFICICAL
2,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1997,0.0,Tonnes - live weight,t,OFFICICAL
3,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1998,0.0,Tonnes - live weight,t,OFFICICAL
4,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,1999,0.0,Tonnes - live weight,t,OFFICICAL

In [2]:
#make area code string for future traintest split
initial_df["AREA_CODE"] = initial_df["AREA_CODE"].astype(str)

In [3]:
# have user select a country input("Please Select a Country")
# set to China for testing
selected_country = "Spain"

In [4]:
user_df = initial_df[initial_df['COUNTRY_NAME'] == selected_country]
user_df = initial_df[initial_df['PERIOD'] >= 2000]

In [5]:
user_df.head()

,COUNTRY_NAME,COUNTRY_CONTINENT,COUNTRY_ECONOMIC_CLASS,COUNTRY_GEOGRAPHIC_REGION,SPECIES_SCIENTIFIC_NAME,SPECIES_ISSCAAP_GROUP,SPECIES_CPC_GROUP,AREA_CODE,AREA_NAME,AREA_OCEAN_GROUP,PERIOD,VALUE,MEASURE_NAME,MEASURE_UNIT,STATUS_NAME
5,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2000,0.0,Tonnes - live weight,t,OFFICICAL
6,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2001,98.0,Tonnes - live weight,t,OFFICICAL
7,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2002,2.0,Tonnes - live weight,t,OFFICICAL
8,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2003,0.0,Tonnes - live weight,t,NEGLIBILE
9,Albania,Europe,Developed countries or areas,Southern Europe,Anguilla anguilla,River eels,"Fish live, fresh or chilled for human consumption",37,Mediterranean and Black Sea,Atlantic Ocean and adjacent seas,2004,2.0,Tonnes - live weight,t,OFFICICAL

In [6]:
# drop country name for now; deal with filter later 
# drop scientific name for now; make exact later
processing_df = user_df.drop(["COUNTRY_NAME","COUNTRY_ECONOMIC_CLASS","COUNTRY_GEOGRAPHIC_REGION","COUNTRY_CONTINENT","SPECIES_SCIENTIFIC_NAME","SPECIES_CPC_GROUP","MEASURE_NAME","AREA_NAME","AREA_OCEAN_GROUP","MEASURE_UNIT"], axis=1)
processing_df.head()
# pca 
# feature importance

  SPECIES_ISSCAAP_GROUP AREA_CODE  PERIOD  VALUE STATUS_NAME
5            River eels        37    2000    0.0   OFFICICAL
6            River eels        37    2001   98.0   OFFICICAL
7            River eels        37    2002    2.0   OFFICICAL
8            River eels        37    2003    0.0   NEGLIBILE
9            River eels        37    2004    2.0   OFFICICAL

In [7]:
new_df = processing_df[processing_df['STATUS_NAME'] != 'NEGLIBILE']
next_df = new_df.drop(["STATUS_NAME"], axis=1)
final_df = next_df[next_df['VALUE'] != 0.0]
final_df.head()

   SPECIES_ISSCAAP_GROUP AREA_CODE  PERIOD  VALUE
6             River eels        37    2001   98.0
7             River eels        37    2002    2.0
9             River eels        37    2004    2.0
10            River eels        37    2005    3.0
11            River eels        37    2006    3.0

In [8]:
to_test = pd.get_dummies(final_df)
X = to_test.drop(['VALUE','SPECIES_ISSCAAP_GROUP_Marine fishes not identified'], axis=1)
y = to_test['VALUE']
X.columns

Index(['PERIOD', 'SPECIES_ISSCAAP_GROUP_Carps, barbels and other cyprinids',
       'SPECIES_ISSCAAP_GROUP_Cods, hakes, haddocks',
       'SPECIES_ISSCAAP_GROUP_Flounders, halibuts, soles',
       'SPECIES_ISSCAAP_GROUP_Herrings, sardines, anchovies',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous coastal fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous demersal fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous diadromous fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous freshwater fishes',
       'SPECIES_ISSCAAP_GROUP_Miscellaneous pelagic fishes',
       'SPECIES_ISSCAAP_GROUP_River eels',
       'SPECIES_ISSCAAP_GROUP_Salmons, trouts, smelts',
       'SPECIES_ISSCAAP_GROUP_Shads',
       'SPECIES_ISSCAAP_GROUP_Sharks, rays, chimaeras',
       'SPECIES_ISSCAAP_GROUP_Sturgeons, paddlefishes',
       'SPECIES_ISSCAAP_GROUP_Tilapias and other cichlids',
       'SPECIES_ISSCAAP_GROUP_Tunas, bonitos, billfishes', 'AREA_CODE_18',
       'AREA_CODE_21', 'AREA_CODE_27', 'AREA_CODE_31', 'AREA_CODE_34',
       'AREA_CODE_37', 'AREA_CODE_41', 'AREA_CODE_47', 'AREA_CODE_48',
       'AREA_CODE_51', 'AREA_CODE_57', 'AREA_CODE_58', 'AREA_CODE_61',
       'AREA_CODE_67', 'AREA_CODE_71', 'AREA_CODE_77', 'AREA_CODE_81',
       'AREA_CODE_87', 'AREA_CODE_88'],
      dtype='object')

In [9]:

#uniform All bins in each feature have identical widths.; ordinal ensures they're returned as floats or ints
trans = KBinsDiscretizer(n_bins=20, encode='ordinal', strategy='kmeans')
reshape = y.array.reshape(-1,1)
#reshape = [y].reshape(-1,1)
data = trans.fit_transform(reshape)
dataset = pd.DataFrame(data)
# histograms of the variables
new_y = np.ravel(data)
new_y

array([0., 0., 0., ..., 0., 0., 0.])

In [10]:
edges = trans.bin_edges_[0]
bins = []
for i in edges: 
    bins.append(i)
bins

[0.001,
 14825.168151087244,
 58648.46327546662,
 139069.85067279887,
 258850.39633713858,
 445783.5754881287,
 784202.4555099785,
 1251979.193013647,
 1760898.5550314463,
 2212732.833333333,
 2736226.9234375,
 3327101.3543375,
 4227423.6809,
 5108908.5,
 5641210.25,
 6088972.125,
 6683977.375,
 7614986.5,
 8418353.25,
 9153847.25,
 9575717.0]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, new_y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
training_score = clf.score(X_train_scaled, y_train)
testing_score = clf.score(X_test_scaled, y_test)

Training Score: 0.9317234497964176
Testing Score: 0.9314665057332528

In [13]:
#organize into  
prediction_years = [2020,2030,2040,2050]
full_text = X.columns
species_list = []
area_list = []

for i in full_text:
    if 'SPECIES' in i:
        holder1 = i.split('_')
        species_list.append(holder1[3])
    if 'AREA' in i:
        holder2 = i.split('_')
        area_list.append(holder2[2])

num_species = len(species_list) 
num_areas = len(area_list)

prediction_fish = [0] * num_species
prediction_ocean = [0] * num_areas

In [ ]:
prediction_values = {}
sum_dict = {}
sum_val = 0

for i in prediction_years:
    prediction_values[i] = {}
    sum_dict[i] = {}
    
    for j, index in enumerate(prediction_fish):
        key_name = species_list[j]
        prediction_fish[j] = 1
        prediction_values[i][key_name] = {}
        sum_dict[i][key_name] = []

        for k, index in enumerate(prediction_ocean):
            next_key_name = area_list[k]
            prediction_ocean[k] = 1
            full_list = [i] + prediction_fish + prediction_ocean
            #print(full_list)
            predicted_val = clf.predict([full_list])
            print(predicted_val)
            prediction_values[i][key_name][next_key_name] = clf.predict([full_list])
            sum_val += predicted_val
            #reset
            prediction_ocean[k] = 0

        #reset
        sum_dict[i][key_name].append(sum_val)
        #reset
        prediction_fish[j] = 0
        sum_val = 0

#sum_dict

In [15]:
#convert dictionary into something more readable for csv purposes

dict_df = pd.DataFrame.from_dict({(i,j,k): prediction_values[i][j] 
                           for i in prediction_values.keys() 
                           for j in prediction_values[i].keys()},
                       orient='index')
#reset index will convert them into columns
fish_df = dict_df.reset_index()
fish_df

,level_0,level_1,level_2,18,21,27,31,34,37,41,...,51,57,58,61,67,71,77,81,87,88
0,2020,"Carps, barbels and other cyprinids",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
1,2020,"Cods, hakes, haddocks",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
2,2020,"Flounders, halibuts, soles",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
3,2020,"Herrings, sardines, anchovies",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
4,2020,Miscellaneous coastal fishes,18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2050,Shads,18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
60,2050,"Sharks, rays, chimaeras",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
61,2050,"Sturgeons, paddlefishes",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
62,2050,Tilapias and other cichlids,18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]
63,2050,"Tunas, bonitos, billfishes",18,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0]

In [16]:
fish_df2 = fish_df.rename(columns={'level_0': 'Year', 'level_1': 'Fish Species'})
fish_df2 = fish_df2.drop(['level_2'], axis = 1)
for column in fish_df2:
    if column != 'Year' and column != 'Fish Species':
        fish_df2[column] = fish_df2[column].astype(int)
        
fish_df2.head()

,Year,Fish Species,18,21,27,31,34,37,41,47,...,51,57,58,61,67,71,77,81,87,88
0,2020,"Carps, barbels and other cyprinids",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020,"Cods, hakes, haddocks",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020,"Flounders, halibuts, soles",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020,"Herrings, sardines, anchovies",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020,Miscellaneous coastal fishes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
labels = []

for i, index in enumerate(bins):
    if i != len(bins) - 1:
        str_holder = str(index) + " to " + str(bins[i+1])
        labels.append(str_holder)

In [18]:
area_indcies = np.arange(2, len(fish_df2.columns))
est_sum = 0
new_col = []
for row in fish_df2.iterrows():
    for i in area_indcies:
        est_sum += row[1][i]
        #est_sum += row[1][area_indcies[i]]
    for j, index in enumerate(labels):
        if j == est_sum:
           new_col.append(index)
    #reset
    est_sum = 0

#sums
fish_df2["Estimated Range of Fish Caught"] = new_col
fish_df2

,Year,Fish Species,18,21,27,31,34,37,41,47,...,57,58,61,67,71,77,81,87,88,Estimated Range of Fish Caught
0,2020,"Carps, barbels and other cyprinids",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
1,2020,"Cods, hakes, haddocks",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
2,2020,"Flounders, halibuts, soles",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
3,2020,"Herrings, sardines, anchovies",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
4,2020,Miscellaneous coastal fishes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2050,Shads,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
60,2050,"Sharks, rays, chimaeras",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
61,2050,"Sturgeons, paddlefishes",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
62,2050,Tilapias and other cichlids,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244
63,2050,"Tunas, bonitos, billfishes",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001 to 14825.168151087244

In [24]:
fish_df2['Estimated Range of Fish Caught'].value_counts()

0.001 to 14825.168151087244    64
Name: Estimated Range of Fish Caught, dtype: int64

In [19]:
dict_df = pd.DataFrame.from_dict({(i,j): sum_dict[i] 
                           for i in sum_dict.keys() 
                           #for j in sum_dict[i].keys()
                           },
                       orient='index')
#reset index will convert them into columns
sum_df = dict_df.reset_index()
sum_df.head()

,level_0,level_1,"Carps, barbels and other cyprinids","Cods, hakes, haddocks","Flounders, halibuts, soles","Herrings, sardines, anchovies",Miscellaneous coastal fishes,Miscellaneous demersal fishes,Miscellaneous diadromous fishes,Miscellaneous freshwater fishes,Miscellaneous pelagic fishes,River eels,"Salmons, trouts, smelts",Shads,"Sharks, rays, chimaeras","Sturgeons, paddlefishes",Tilapias and other cichlids,"Tunas, bonitos, billfishes"
0,2020,19,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
1,2030,19,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
2,2040,19,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
3,2050,19,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]

In [20]:
sum_df2 = sum_df.rename(columns={'level_0': 'Predicted Year'})
sum_df2 = sum_df2.drop(['level_1'], axis=1)

sum_df2.head()

,Predicted Year,"Carps, barbels and other cyprinids","Cods, hakes, haddocks","Flounders, halibuts, soles","Herrings, sardines, anchovies",Miscellaneous coastal fishes,Miscellaneous demersal fishes,Miscellaneous diadromous fishes,Miscellaneous freshwater fishes,Miscellaneous pelagic fishes,River eels,"Salmons, trouts, smelts",Shads,"Sharks, rays, chimaeras","Sturgeons, paddlefishes",Tilapias and other cichlids,"Tunas, bonitos, billfishes"
0,2020,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
1,2030,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
2,2040,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]
3,2050,[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]],[[0.0]]

In [21]:
area_indcies = np.arange(1, len(sum_df2.columns))
est_sum = 0
new_col = []
for row in sum_df2.iterrows():
    for i in area_indcies:
        est_sum += row[1][i]
        #est_sum += row[1][area_indcies[i]]
    for j, index in enumerate(labels):
        if j == est_sum:
           new_col.append(index)
    #reset
    est_sum = 0

#sums
sum_df2["Estimated Range of Fish Caught"] = new_col
sum_df2.head()

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [ ]:
#export csv
filepath = selected_country + "_prediction.csv"
to_csv = fish_df2.to_csv(filepath)

In [ ]:
#export to json if it's fine
import json 

class NumpyEncoder(json.JSONEncoder):
   """ Special json encoder for numpy types """
   def default(self, obj):
       if isinstance(obj, np.integer):
           return int(obj)
       elif isinstance(obj, np.floating):
           return float(obj)
       elif isinstance(obj, np.ndarray):
           return obj.tolist()
       return json.JSONEncoder.default(self, obj)
path = selected_country + "_prediction.json"
dumped = json.dumps(prediction_values, cls=NumpyEncoder)

with open(path, 'w') as f:
   json.dump(dumped, f)

file_name = selected_country + "_prediction.json"
with open(file_name, 'r') as f:
 data = json.load(f)

print(data)

{"2020": {"Carps, barbels and other cyprinids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Cods, hakes, haddocks": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Flounders, halibuts, soles": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Herrings, sardines, anchovies": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous coastal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous demersal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous diadromous fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous freshwater fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous pelagic fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "River eels": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Salmons, trouts, smelts": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Shads": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sharks, rays, chimaeras": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sturgeons, paddlefishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tilapias and other cichlids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tunas, bonitos, billfishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}}, "2030": {"Carps, barbels and other cyprinids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Cods, hakes, haddocks": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Flounders, halibuts, soles": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Herrings, sardines, anchovies": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous coastal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous demersal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous diadromous fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous freshwater fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous pelagic fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "River eels": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Salmons, trouts, smelts": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Shads": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sharks, rays, chimaeras": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sturgeons, paddlefishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tilapias and other cichlids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tunas, bonitos, billfishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}}, "2040": {"Carps, barbels and other cyprinids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Cods, hakes, haddocks": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Flounders, halibuts, soles": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Herrings, sardines, anchovies": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous coastal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous demersal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous diadromous fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous freshwater fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous pelagic fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "River eels": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Salmons, trouts, smelts": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Shads": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sharks, rays, chimaeras": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sturgeons, paddlefishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tilapias and other cichlids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tunas, bonitos, billfishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}}, "2050": {"Carps, barbels and other cyprinids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Cods, hakes, haddocks": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Flounders, halibuts, soles": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Herrings, sardines, anchovies": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous coastal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous demersal fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous diadromous fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous freshwater fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Miscellaneous pelagic fishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "River eels": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Salmons, trouts, smelts": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Shads": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sharks, rays, chimaeras": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Sturgeons, paddlefishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tilapias and other cichlids": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}, "Tunas, bonitos, billfishes": {"18": [0.0], "21": [0.0], "27": [0.0], "31": [0.0], "34": [0.0], "37": [0.0], "41": [0.0], "47": [0.0], "48": [0.0], "51": [0.0], "57": [0.0], "58": [0.0], "61": [0.0], "67": [0.0], "71": [0.0], "77": [0.0], "81": [0.0], "87": [0.0], "88": [0.0]}}}